@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

body {
    font-family: 'Roboto Serif', serif;
}

/* basic style reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .flex-container {
    height: 80px;
    align-items: flex-end;
    justify-content: space-between;
}

/* header logo and nav links*/
a {
    text-decoration: none;
}

#logo {
    font-size: 18px;
    color: whitesmoke;
}

#menu li {
    display: inline;
    margin-left: 30px;
}

#menu li a {
    color: whitesmoke;
}

/*hero image with main heading*/
#hero-image {
    width: 100%;
    height: 700px;
    background-image: url('../images/hero-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#hero-background-color {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.600), rgb(0, 0, 0));
}

#hero-image .flex-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-header {
    color: whitesmoke;
}

#hero-header h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    max-width: 800px;
    font-weight: 700;
    text-align: center;
}

#hero-header p {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px 0;
}

#hero-social-links::before,
#hero-social-links::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: whitesmoke;
    display: inline-block;
}

#hero-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

i {
    color: whitesmoke;
    font-size: 20px;
}

/* about opening times section*/
#opening-times {
    background-color: black;
    position: relative;
}

#opening-times .flex-container {
    justify-content: flex-end;
}

#times {
    border: 1px solid whitesmoke;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 50px 50px;
}

#times table {
    color: whitesmoke;
    width: 100%;
}

#times table th {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
    letter-spacing: 5px;
}

#times td {
    padding: 10px 0;
    font-weight: 200;
    letter-spacing: 2px;
}

#times td:nth-child(even) {
    text-align: right;
}

/* about content */

#about-main-content {
    background-color: whitesmoke;
    position: relative;
}

#about .flex-container {
    justify-content: flex-end;
}

#about-content {
    max-width: 550px;
    margin: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px 0;
}

#about-content h2 {
    color: black;
    font-size: 30px;
    letter-spacing: 5px;
}

#about h2 {
    padding-bottom: 50px;
}

#about p {
    padding-bottom: 20px;
}

/* about image */

#about-image {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

#about img {
    position: absolute;
    z-index: 10;
    top: -344px;
    max-width: 550px;
}




/* media query */
@media only screen and (max-width: 1400px) {
    .flex-container {
        margin: 0 5vw;
    }

    #opening-times .flex-container {
        justify-content: center;
    }

    #times {
        margin-bottom: 250px;
        padding: 50px 20px;
    }

    #about .flex-container {
        justify-content: center;
    }

    #about-content {
        margin-top: 250px;
    }
    
    #about img {
        height: 400px;
        top: -200px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        
    }
}