@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Serif', serif;
}

/* basic style reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

header .flex-container {
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

/* header logo and nav links*/
a {
    text-decoration: none;
    font-weight: 700;
}

#logo {
    font-size: 18px;
    color: whitesmoke;
}

#menu li {
    display: inline;
    margin-left: 30px;
}

#menu li a {
    color: whitesmoke;
}

/* mobile menu */
#mobile-menu,
#mobile-menu-toggle-button {
    display: none;
}

#mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    background-color: black;
}

#mobile-menu li a {
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: whitesmoke;
}

#mobile-menu li a:hover {
    background-color: whitesmoke;
    color: black;
    backdrop-filter: blur(10px);
}


/*hero image with main heading*/
#hero-image {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#hero-background-color {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.050), rgba(0, 0, 0, 0.300),  rgb(0, 0, 0));
}

#hero-image .flex-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-header {
    color: whitesmoke;
}

#hero-header h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    max-width: 800px;
    font-weight: 700;
    text-align: center;
}

#hero-header p {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px 0;
}

#hero-social-links::before,
#hero-social-links::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: whitesmoke;
    display: inline-block;
}

#hero-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

i {
    color: rgba(245, 245, 245, 0.800);
    font-size: 30px;
}

/* about opening times section*/
#opening-times {
    background-color: black;
    position: relative;
}

#opening-times .flex-container {
    justify-content: flex-end;
}

#times {
    border: 1px solid whitesmoke;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 50px 50px;
}

#times table {
    color: whitesmoke;
    width: 100%;
}

#times table th {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
    letter-spacing: 5px;
}

#times td {
    padding: 10px 0;
    font-weight: 200;
    letter-spacing: 2px;
}

#times td:nth-child(even) {
    text-align: right;
}

/* about content */

#about-main-content {
    background-color: whitesmoke;
    position: relative;
}

#about-main-content p {
    letter-spacing: 2px;
    font-weight: 400;
}

#about .flex-container {
    justify-content: flex-end;
}

#about-content {
    max-width: 550px;
    margin: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px 0;
}

#about-content h2 {
    color: black;
    font-size: 30px;
    letter-spacing: 5px;
}

#about h2 {
    padding-bottom: 50px;
}

#about p {
    padding-bottom: 20px;
}

/* about image */

#about-image {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

#about img {
    position: absolute;
    z-index: 10;
    top: -344px;
    max-width: 550px;
}

/* services section */
#services-background-image {
    background-color: black;
    background-image: url('../images/services-background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#services-background-color {
    background-color: rgba(0, 0, 0, 0.500);
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services-background-color h2 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}

#services-background-color .flex-container {
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-top: 50px;
}

.service-card {
    background-color: rgba(0, 0, 0, 0.200);
    padding: 50px 15px;
    backdrop-filter: blur(8px);
    text-align: center;
}

.service-card h3,
.service-card p {
    color: whitesmoke;
}

.service-card h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.service-card p {
    font-weight: 100;
    letter-spacing: 2px;
}

/* gallery */
#gallery {
    background-color: black;
    padding: 50px 5vw;
}

#gallery p {
    color: whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    font-weight: 100;
}

#gallery-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#gallery .flex-container {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#gallery .flex-container img {
    max-width: 32%;
    border: 1px solid whitesmoke;
}

#gallery h2 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
}

/* google map */
#map {
    width: 100%;
    height:300px;
}

/* footer */
footer {
    background-color: black;
    padding-top: 50px;
}

footer .flex-container {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
}

footer p {
    color: whitesmoke;
    text-align: center;
}

footer address {
    color: rgba(245, 245, 245, 0.800);
    text-align: center;
}

footer p {
    font-weight: 700;
    max-width: 400px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials p {
    text-align: center;
}

#social-icons a {
    margin: 0 7.5px;
}

#social-icons a i {
    color: rgba(245, 245, 245, 0.800);
}

#google-reviews, #socials, #address {
    max-width: 300px;
}

#google-reviews > p {
    text-align: center;
}

#google-reviews-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: rgb(27, 27, 27);
}

.fa-google {
    color: #185C97;
}

.fa-star {
    color: gold;
    font-size: 16px;
}

#copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #0C0D0D;
    margin-top: 50px;
}

#copyright p {
    margin: 0;
    font-weight: 100;
    font-size: 16px;
}
#copyright p i{
    font-size: 16px;
}

/* media query for max width 1400px */
@media only screen and (max-width: 1400px) {
    .flex-container {
        margin: 0 5vw;
    }

    #opening-times .flex-container {
        justify-content: center;
    }

    #times {
        margin-bottom: 250px;
        padding: 50px 20px;
    }

    #about .flex-container {
        justify-content: center;
    }

    #about-content {
        margin-top: 250px;
    }
    
    #about img {
        height: 400px;
        top: -200px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }

    #services-background-color .flex-container {
        flex-direction: column;
    }

    .service-card {
        max-width: 550px;
    }
}

/* media query for max width 800px */
@media only screen and (max-width: 800px) {
    #gallery .flex-container img {
        max-width: 45%;
        }
    
    #menu {
        display: none;
    }

    #mobile-menu-toggle-button {
    display: inline-block;
    }

    footer > .flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

/* media query for max width 420px */
@media only screen and (max-width: 420px) {
    #gallery .flex-container img {
        max-width: 100%;
        }

    #hero-background-color {
        background-image: none;
        }

    /* font sizes */
    #hero-header h2,
    #services-background-color h2,
    #gallery h2 {
        font-size: 26px;
    }

    #times table th,
    #about h2,
    .service-card h3 {
        font-size: 20px;
    }

    
}