/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Serif', serif;
}

/* Basic style reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3 {
    line-height: 2rem;
}

p {
    line-height: 1.5rem;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

header .flex-container {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
}

/* Header logo and nav links*/
a {
    text-decoration: none;
    font-weight: 700;
}

#logo {
    margin-left: 20px;
    font-size: 18px;
    color: whitesmoke;
}

#menu li {
    display: inline;
}

#menu li a {
    color: whitesmoke;
    padding: 50px 20px 10px;
}

#menu li a:hover {
    background-color: whitesmoke;
    color: black;
}

/* Mobile menu */
#mobile-menu,
#mobile-menu-toggle-button {
    display: none;
}

#mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    background-color: black;
}

#mobile-menu li a {
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: whitesmoke;
}

#mobile-menu li a:hover {
    background-color: whitesmoke;
    color: black;
    backdrop-filter: blur(10px);
}

nav i:hover {
 cursor: pointer;
}


/*Hero image with main heading*/
#hero-image {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-background-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#hero-background-color {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.050), rgba(0, 0, 0, 0.300),  rgb(0, 0, 0));
}

#hero-image .flex-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-header {
    color: whitesmoke;
}

#hero-header h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    max-width: 800px;
    font-weight: 700;
    text-align: center;
}

#hero-header p {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px 0;
}

#hero-social-links::before,
#hero-social-links::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: whitesmoke;
    display: inline-block;
}

#hero-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

i {
    color: rgba(245, 245, 245, 0.800);
    font-size: 30px;
}

#hero-social-links i:hover,
#social-icons i:hover {
    color: whitesmoke;
}

/* About opening times section*/
#opening-times {
    background-color: black;
    position: relative;
}

#opening-times .flex-container {
    justify-content: flex-end;
}

#times {
    border: 1px solid whitesmoke;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 50px 50px;
}

#times table {
    color: whitesmoke;
    width: 100%;
}

#times table th {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
    letter-spacing: 5px;
}

#times td {
    padding: 10px 0;
    font-weight: 200;
    letter-spacing: 2px;
}

#times td:nth-child(even) {
    text-align: right;
}

/* About content */
#about-main-content {
    background-color: whitesmoke;
    position: relative;
}

#about-main-content p {
    letter-spacing: 2px;
    font-weight: 400;
}

#about .flex-container {
    justify-content: flex-end;
}

#about-content {
    max-width: 550px;
    margin: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px 0;
}

#about-content h2 {
    color: black;
    font-size: 30px;
    letter-spacing: 5px;
}

#about h2 {
    padding-bottom: 50px;
}

#about p {
    padding-bottom: 20px;
}

/* About image */
#about-image {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

#about img {
    position: absolute;
    z-index: 10;
    top: -344px;
    max-width: 550px;
}

/* Services section */
#services-background-image {
    background-color: black;
    background-image: url('../images/services-background-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#services-background-color {
    background-color: rgba(0, 0, 0, 0.500);
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services-background-color h2 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}

#services-background-color .flex-container {
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-top: 50px;
}

.service-card {
    background-color: rgba(0, 0, 0, 0.200);
    padding: 50px 15px;
    backdrop-filter: blur(8px);
    text-align: center;
}

.service-card h3,
.service-card p {
    color: whitesmoke;
}

.service-card h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.service-card p {
    font-weight: 100;
    letter-spacing: 2px;
}

/* Gallery */
#gallery {
    background-color: black;
    padding: 50px 5vw;
}

#gallery p {
    color: whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    font-weight: 100;
}

#gallery-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#gallery .flex-container {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#gallery .flex-container img {
    display: block;
    max-width: 100%;
}

/* Image zoom effect */
.img-hover-zoom {
    max-width: 32%;
    overflow: hidden;
    border: 1px solid rgba(245, 245, 245, 0.200);
}

#gallery .flex-container img:hover {
    transform: scale(1.2);
    transition: 0.8s ease-out;
}

#gallery h2 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
}

/* Google map */
#map {
    width: 100%;
    height:300px;
    border: none;
}

/* Contact form */
#contact {
    background-color: black;
}

#contact-background-color {
    height: auto;
    max-width: 1250px;
    background-color: rgba(0, 0, 0, 0.900);
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#contact h2 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 50px;
}

#form {
    padding: 0;
}

.contact-form {
    margin: 0 auto;
    color: #fff;
    background-color: #0C0D0D;
    max-width: 400px;
    padding: 50px;
}

.text-input {
    background: black;
    color: whitesmoke;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid rgba(245, 245, 245, 0.200);
    border-radius: 2px;
    padding: 15px;
    font-weight: 100;
}

.text-input::placeholder {
    color: rgba(245, 245, 245, 0.800);
}

textarea::placeholder {
    color: rgba(245, 245, 245, 0.800);
}

.text-input:hover {
    border-color: rgba(245, 245, 245, 0.582);
}

#message {
    background-color: black;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(245, 245, 245, 0.200);
    color: whitesmoke;
    padding: 15px;
}

#message:hover {
    border-color: whitesmoke;
}

/* 
Submit button 
From uiverse.io 
Full link to the button https://uiverse.io/detail/cssbuttons-io/brown-otter-21
*/
.submit-button {
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 16px;
    width: 100%;
   }
   
   .submit-button .text {
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
   }
   
   .submit-button .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #0C0D0D;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .submit-button .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #0C0D0D;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .submit-button .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #0C0D0D;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .submit-button:hover {
    color: black;
    background: whitesmoke;
   }
   
   .submit-button:hover::before {
    width: 0.9375rem;
    background: black;
   }
   
   .submit-button:hover .text {
    color: black;
   }
   
   .submit-button:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .submit-button:hover .bottom-key-1,
    .submit-button:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
/* Button end */

#contact-background-color .flex-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 400px;
    height: 465px;
    margin: 0;
    padding-left: 15px;
}

#contact p {
    color: whitesmoke;
    text-align: left;
    font-weight: 700;
    max-width: 400px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

#contact address {
    color: rgba(245, 245, 245, 0.800);
    text-align: left;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#socials p {
    text-align: left;
}

#social-icons a {
    margin: 0 7.5px;
}

#social-icons a i {
    color: rgba(245, 245, 245, 0.800);
}

#google-reviews, #socials, #address {
    max-width: 300px;
}

#google-reviews > p {
    text-align: center;
}

#google-reviews-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgba(245, 245, 245, 0.200);
}

.fa-google {
    color: #185C97;
}

.fa-star {
    color: gold;
    font-size: 16px;
}

/* Footer */
#copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #0C0D0D;
}

#copyright p {
    color: whitesmoke;
    margin: 0;
    font-weight: 100;
    font-size: 16px;
}
#copyright p i{
    font-size: 16px;
}

/* Media query for max width 1400px */
@media only screen and (max-width: 1400px) {
    .flex-container {
        margin: 0 5vw;
    }

    #opening-times .flex-container {
        justify-content: center;
    }

    #times {
        margin-bottom: 250px;
        padding: 50px 20px;
    }

    #about .flex-container {
        justify-content: center;
    }

    #about-content {
        margin-top: 250px;
    }
    
    #about img {
        height: 400px;
        top: -200px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }

    #services-background-color .flex-container {
        flex-direction: column;
    }

    .service-card {
        max-width: 550px;
    }
}

/* Media query for max width 800px */
@media only screen and (max-width: 800px) {
    #logo {
        margin-left: 0;
    }

    #gallery .flex-container .img-hover-zoom {
        max-width: 45%;
        }
    
    #menu {
        display: none;
    }

    #mobile-menu-toggle-button {
    display: inline-block;
    }

    .service-card {
        border: 1px solid rgba(245, 245, 245, 0.200);
    }

    footer > .flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    /* Contact section */
    #contact-background-color {
        flex-direction: column;
        padding-bottom: 0;
    }

    #contact-background-color .flex-container {
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding-left: 0;
    }
    
    #contact p,
    #socials p,
    #google-reviews > p,
    #contact address {
        text-align: center;
    }
    /* Social links */
    #socials {
        align-items: center;
    }

    /* Form */
    #form {
        padding: 0 5vw;
    }
}

/* Media query for max width 420px */
@media only screen and (max-width: 420px) {
    #gallery .flex-container .img-hover-zoom  {
        max-width: 100%;
        }

    #hero-background-color {
        background-image: none;
        }

    /* Font sizes */
    #hero-header h2,
    #services-background-color h2,
    #gallery h2,
    #contact h2  {
        font-size: 26px;
    }

    #times table th,
    #about h2,
    .service-card h3 {
        font-size: 20px;
    }

    /* Form */
    .contact-form {
        max-width: 400px;
        padding: 50px 15px;
    }
}